{% extends "base.html" %}
{% block header %}
<style type="text/css">
    dd {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="alert-message info">  
<h2 class="page-title"> Documentation </h2> 
</div>

<h3> Tutorial </h3>

<p> <a href="/tutorial"> A demo game created using game objects, html5 and javascript.</a></p> 

<h3> Using the Game Object Repository API </h3>

<p>Game objects can be created using the <a href="#">Game Object Editor</a>, then you only need to login using your Google account and edit away!</p>

<p>If you want to interact with the API directly, you do so using an API key. You can obtain an API key by logging in with your Google account and requesting one on our <a href="#"> API key request</a> page. </p>

<h4> An overview of the API </h4>

<p>We currently support GOs in the following categories; 
<a href="#"id="#GameObject" class="hide_and_seek"> GameObject </a>, 
<a href="#"id="#VisualGameObject" class="hide_and_seek"> VisualGameObject</a>, 
<a href="#"id="#Graphic" class="hide_and_seek"> Graphic</a>, 
<a href="#"id="#Environment" class="hide_and_seek"> Environment</a>, 
<a href="#"id="#Interaction" class="hide_and_seek"> Interaction</a>, 
<a href="#"id="#Level" class="hide_and_seek"> Level</a>, 
<a href="#"id="#Equipment" class="hide_and_seek"> Equipment</a>, 
<a href="#"id="#Modifier" class="hide_and_seek"> Modifier</a>, 
<a href="#"id="#Vehicle" class="hide_and_seek"> Vehicle </a>, 
<a href="#"id="#Objective" class="hide_and_seek"> Objective </a>, 
<a href="#"id="#Mission" class="hide_and_seek"> Mission </a>, 
<a href="#"id="#Team" class="hide_and_seek"> Team </a>, 
<a href="#"id="#Skill" class="hide_and_seek"> Skill </a>, 
<a href="#"id="#Attribute" class="hide_and_seek"> Attribute </a>, 
<a href="#"id="#NPC" class="hide_and_seek"> NPC </a>, 
<a href="#"id="#Character" class="hide_and_seek"> Character </a>, 
<a href="#"id="#Player" class="hide_and_seek"> Player </a>, 
<a href="#"id="#Event" class="hide_and_seek"> Event </a>, 
<a href="#"id="#Game" class="hide_and_seek"> Game </a>.</p>

<div id="GameObjectInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> GameObject </h5>
    <br/>
    <p> 
        The base of all objects, usually not what you should use but instead try and find
        a more specialised object type that more closely resembles your need. If you can't find
        a good one, feel free to suggest more on our Github Issues page.
    </p>
    <br/>
    <dl>
        <dt> title (String) - Required </dt>
        <dd> Whatever you would like to call the object, perhaps "Silver Greatsword of Chicken Power" or "Slightly sluggish AK-47". </dd>

        <dt> description (Text) - Required</dt>
        <dd> A description of what the object is and what you intend to use it for. </dd>

        <dt> extra (String) - Optional</dt>
        <dd> This field can be used for anything but probably most useful to store extra information about the object that is not represented in other fields. A good idea would be to use JSON so it can easily be parsed later. </dd>
    </dl>
</div>

<div id="GraphicInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Graphic (GameObject)</h5>
    <br/>
    <p> 
        Used to save images to be used by other game objects. 
    </p>
    <br/>
    <dl>
        <dt> picture (File) - Required</dt>
        <dd> Usually an image file but could theoretically be a file of any type.</dd>
    </dl>
</div>

<div id="VisualGameObjectInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> VisualGameObject (Game Object)</h5>
    <br/>
    <p> 
        An object associated with some sort of graphic (currently only simple images are supported) as well
        as some physical properties; width, height and weight. 
    </p>
    <br/>
    <dl>
        <dt> graphic (Reference - Graphic) - Required</dt>
        <dd> A reference to the key of a Graphic object.</dd>

        <dt> width (Float) - Required </dt>
        <dd> The width of the object. </dd>

        <dt> height (Float) - Required </dt>
        <dd> The height of the object. </dd>

        <dt> weight (Float) - Required </dt>
        <dd> The weight of the object. </dd>

        <dt> x (Integer) - Optional </dt>
        <dd> x-index: mainly used to place items in a level</dd>
          
        <dt> y (Integer) - Optional </dt>
        <dd> y-index: mainly used to place items in a level</dd>
          
        <dt> z (Integer) - Optional </dt>
        <dd> z-index: mainly used to place items in a level</dd>
          

    </dl>
</div>

<div id="ModifierInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Modifier (GameObject)</h5>
    <br/>
    <p> 
        Used to modify an object. The common use would be to create a javascript function
        that modifies the game object, for example, give a power up to a character or a speed increase on a vehicle. If the function will be trigger on a specific event, use Interaction instead.
    </p>
    <br/>
    <dl>
        <dt> action (Text) - Required</dt>
        <dd> Could be anything but a javascript function is recommended.</dd>
    </dl>
</div>

<div id="EnvironmentInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Environment (VisualGameInfo) </h5>
    <br/>
    <p> 
        Use this kind of object to create the environment of your game, stones, bridges, trees, sky, water, etc.
    </p>
    <br/>
    <dl>
        <dt> physical_state (solid | liquid | gas) - Required</dt>
        <dd> The physical state of the object, didn't feel it was necessary to include plasma.</dd>

        <dt> location_state (static | dynamic) - Required</dt>
        <dd> Static, for when you just want to stick that floating island in the sky without worrying
            about gravity.</dd>

        <dt> interactions ([Interaction]) - Optional</dt>
        <dd> See adding game objects to lists.</dd>

    </dl>
</div>

<div id="InteractionInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Interaction (GameObject)</h5>
    <br/>
    <p> 
        An action that will be performed when a certain event occurs.
    </p>
    <br/>
    <dl>
        <dt> trigger (enter | leave | activate) - Required</dt>
        <dd> Transport to earth when entering the teleporter.</dd>

        <dt> action (Text) - Required</dt>
        <dd> Usually a javascript function with two arguments, the callee and the game object.</dd>
    </dl>
</div>

<div id="LevelInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Level </h5>
    <br/>
    <p> 
        Create a level / map by combining a series of Environment objects. 
    </p>
    <br/>
    <dl>
        <dt> environments ([Environment]) - Required</dt>
        <dd> See adding items to lists.</dd>
    </dl>
</div>

<div id="EquipmentInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Equipment (VisualGameObject) </h5>
    <br/>
    <p> 
        Used to save images to be used by other game objects. Extends GameObject.
    </p>
    <br/>
    <dl>
        <dt> item_type (weapon | armor | consumable | other) - Optional</dt>
        <dd> The general category this object fits in.</dd>
        
        <dt> item_class (String) - Optional</dt>
        <dd> Normal, Superior, Epic, Quest, Broken</dd>
        
        <dt> value (Float) - Optional</dt>
        <dd> The monetary value of this piece of equipment.</dd>

        <dt> item_class (String) - Optional</dt>
        <dd> Normal, Superior, Epic, Quest, Broken</dd>
        
        <dt> damage (Float) - Optional</dt>
        <dd> A constant or average damage of a weapon</dd>
        
        <dt> max_damage (Float) - Optional</dt>
        <dd> For weapons with which damage is varied in an interval</dd>
        
        <dt> min_damage (Float) - Optional</dt>
        <dd> See max_damage</dd>
        
        <dt> armor (Float) - Optional</dt>
        <dd> The armor value</dd>
        
        <dt> shot_range (Float) - Optional</dt>
        <dd> Mainly used for ranged weapons such as guns, cannons and bows.</dd>
        
        <dt> enhancements ([Modifier]) - Optional</dt>
        <dd> See adding items to lists.</dd>
        
    </dl>
</div>

<div id="VehicleInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Vehicle (VisualGameObject) </h5>
    <br/>
    <p> 
        Any type of transportation object, be it a horse, elevator, tank or x-wing fighter. 
    </p>
    <br/>
    <dl>
        <dt> speed (Float) - Optional</dt>
        <dd> The initial, max or average speed of the vehicle.</dd>
        <dt> acceleration (Float) - Optional</dt>
        <dd> The acceleratin value.</dd>
        <dt> equipment ([Equipment]) - Optional</dt>
        <dd> See adding items to lists.</dd>
        <dt> passengers ([Character]) - Optional</dt>
        <dd> See adding items to lists.</dd>
        <dt> drivers ([Character]) - Optional</dt>
        <dd> See adding items to lists.</dd>
    </dl>
</div>

<div id="ObjectiveInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Objective (GameObject) </h5>
    <br/>
    <p> 
        A task that needs to be solver. The building block of a mission.
    </p>
    <br/>
    <dl>
        <dt> goal (collect | active | kill | defend) - Required</dt>
        <dd> The type of objective.</dd>
        <dt> amount (Integer) - Optional </dt>
        <dd> How many items to loot or players to kill </dd>
        <dt> targets ([Character]) - Optional </dt>
        <dd> People to kill / defend / talk to. See adding items to lists. </dd>
    </dl>
</div>

<div id="MissionInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Mission (GameObject) </h5>
    <br/>
    <p> 
        A quest or mission with objectives and rewards.
    </p>
    <br/>
    <dl>
        <dt> objectives ([Objective]) - Optional</dt>
        <dd> Tasks that are needed to be done in order to complete the mission. See adding items to lists.</dd>

        <dt> rewards ([Equipment]) - Optional</dt>
        <dd> Equipment that will be given upon completing the mission. See adding items to lists.</dd>

        <dt> pre_required ([Mission]) - Optional</dt>
        <dd> Missions that need to be completed before starting this one. See adding items to lists.</dd>

        <dt> follow_up ([Mission]) - Optional</dt>
        <dd> Missions aquired by completing this mission. See adding items to lists.</dd>
    </dl>
</div>

<div id="TeamInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Team </h5>
    <br/>
    <p> 
        Terrorist vs Counter-Terrorist, Alliance vs Horde. Create teams, guilds, factions with enemies and members.
    </p>
    <br/>
    <dl>
        <dt> members ([Character]) - Optional</dt>
        <dd> Characters in the team. See adding items to lists.</dd>
        <dt> allies ([Team]) - Optional</dt>
        <dd> Allied teams. See adding items to lists.</dd>
        <dt> enemies ([Team]) - Optional</dt>
        <dd> Enemy teams. See adding items to lists.</dd>
    </dl>
</div>

<div id="SkillInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Skill (GameObject) </h5>
    <br/>
    <p> 
        Keep track of your valuable skills. Works exactly like Attribute but is provided for 
        convenince reasons.
    </p>
    <br/>
    <dl>
        <dt> rank (Float) - Required</dt>
        <dd> The rank or level of the skill. Usually a value between 0 and 100.</dd>
    </dl>
</div>

<div id="AttributeInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Attribute (GameObject)</h5>
    <br/>
    <p> 
        Create attributes like health, mana, level, kills, etc.
    </p>
    <br/>
    <dl>
        <dt> value (Float) - Required</dt>
        <dd> A value associated with this attribute.</dd>
    </dl>
</div>

<div id="NPCInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> NPC (VisualGameObject) </h5>
    <br/>
    <p> 
        A non-player character with skills, attributes and more =)
    </p>
    <br/>
    <dl>
        <dt> skills ([Skill]) - Optional</dt>
        <dd> Christmas cooking and Archery. See adding items to lists.</dd>

        <dt> attributes ([Attribute]) - Optional</dt>
        <dd> Awesomeness and Hitpoints. See adding items to lists.</dd>

        <dt> equipment ([Equipment]) - Optional</dt>
        <dd> A very large bucket of water, a few kilo sugar and some yeast. See adding items to lists.</dd>

        <dt> missions ([Mission]) - Optional</dt>
        <dd> Buy everyone christmas presents, Build an igloo. See adding items to lists.</dd>

        <dt> teams ([Team]) - Optional</dt>
        <dd> Luleå Cooking Club and SÄPO. See adding items to lists.</dd>

    </dl>
</div>

<div id="CharacterInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Character (NPC) </h5>
    <br/>
    <p> 
         Identical to NPC for now.
    </p>
    <br/>
</div>

<div id="PlayerInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Player (GameObject) </h5>
    <br/>
    <p> 
        A player, unlike a character, represents a human player. A player may have 
        one or several characters as well as other properties like Player friends and time played.
    </p>
    <br/>
    <dl>
        <dt> characters ([Character]) - Optional</dt>
        <dd> The characters this player owns. See adding items to lists.</dd>

        <dt> friends ([Player]) - Optional</dt>
        <dd> Favourite other players. See adding items to lists.</dd>

        <dt> played (Float() - Optional </dt>
        <dd> Time played. </dd>
    </dl>
</div>

<div id="EventInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Event (GameObject) </h5>
    <br/>
    <p> 
        Can be any event happening in the game, a shot fired or a received friend request. 
        Because of this very broad use case the use of the extras field is recommended.
    </p>
    <br/>
    <dl>
        <dt> player (Player reference) - Optional</dt>
        <dd> The source of the event.</dd>
    </dl>
</div>

<div id="GameInfo" class="needle alert-message block-message warning" style="display: none;">
    <h5> Game (GameObject) </h5>
    <br/>
    <p> 
        Represents a running game with a set of competing players.
    </p>
    <br/>
    <dl>
        <dt> players ([Player]) - Optional</dt>
        <dd> The players currently connected to the game.</dd>

        <dt> max_players (Integer) - Optional </dt>
        <dd> Limit of allowed players </dd>
    </dl>
</div>

<p> If an invalid category or non existing object is requested, an error message (json) will be returned (HTTP 404). Object ID used in an url is numeric. When an object is added to a list the key is used, which is a long alphanumeric string and can be found in the key field of the representation of the object. </p>

<dl>
    <dt> GET - /api/&lt;category&gt; </dt>
    <dd> <p>Returns a json list of objects in &lt;category&gt; (HTTP 200).</p>
    <pre class="prettyprint">
curl -X "GET" https://go-repo.appspot.com/api/environments/</pre></dd>
   
    <dt> POST - /api/&lt;category&gt; </dt>
    <dd><p> Creates a new object of &lt;category&gt; type, returns a json representation of the object (HTTP 201) or an error message if the form was invalid (HTTP 400).</p>
    <pre class="prettyprint">
curl -X "POST" -d "title=example&description=this is a test&trigger=Enter&action=hello world&api_key=sdf7yf" https:/go-repo.appspot.com/api/interactions/</pre></dd>

    <dt> GET - /api/&lt;category&gt;/&lt;id&gt;/ </dt>
    <dd><p> Returns a json representation of the object with id=&lt;id&gt; in &lt;category&gt; (HTTP 200). </p>
    <pre class="prettyprint">curl -X "GET" https://go-repo.appspot.com/api/interactions/401/</pre></dd>

    <dt> PUT - /api/&lt;category&gt;/&lt;id&gt;/ </dt>
    <dd> <p> Updates an existing object, parameters and error messages are identical to creating a new object.</p> <pre class="prettyprint">curl -X "PUT" -d "...." https://go-repo.appspot.com/api/interactions/39487234/ </pre></dd>

    <dt> DELETE - /api/&lt;category&gt;/&lt;id&gt;/ </dt>
    <dd> <p>Deletes an object, this will only succeed if the creator of the object is the one requesting deletion. Returns a delete successfull message (HTTP 200) or an unauthorized message (HTTP 401).</p> <pre class="prettyprint">curl -X "DELETE" -d "api_key=23762349" https://go-repo.appspot.com/api/missions/2348933/ </pre></dd>

    <dt> POST - /api/&lt;category&gt;/&lt;id&gt;/ </dt>
    <dd> <p>Adds references to other objects to an object. For example, a character can have a range of different equipment objects. Returns a representation of the updated object (HTTP 200) or an error message if the update fails (HTTP 400).</p><pre class="prettyprint">curl -X "POST" -d "equipment=234234234, 346346346, 346666zsdf" https://go-repo.appspot.com/api/characters/39857234/</pre></dd>

</dl>


<h3> Installing a clone of GO-Repo on appengine </h3><br/>
<p> Install the <a href="http://code.google.com/appengine/downloads.html#Google_App_Engine_SDK_for_Python">Python Appengine SDK</a> and make sure appcfg.py and dev_appserver.py is on your path and marked as executable. You will also need Python and Git.</p><br/>
<p> Get the source code for the website </p>
<pre class="prettyprint">
git clone git://github.com/ib-lundgren/GO_Repo.git
</pre>
<p> Change the app.yaml name field to match your appspot name. Upload to appspot using appcfg.py or try it out locally with dev_appserver.py </p>
<br/>
<pre class="prettyprint">
$ dev_appserver.py GO_Repo/
$ appcfg.py update GO_Repo/
</pre>


<script type="text/javascript">
    $(".hide_and_seek").click(function(e) {
        e.preventDefault();
        $(".needle").hide();
        $(this.id + "Info").show();
    });
</script>
{% endblock %}

