{% extends "base.html" %}
{% block content %}
 <div class="alert-message info">        
 <h2 class="page-title"> We are making a game object repository! </h2> 
</div>
<div class="span4"> 
 <img class="thumbnail" src="/media/create.svg" alt="">
<div class="alert-message block-message warning infocol">
 <h2> Create </h2>
<br/>
<p>Paint a legendary warrior, equip him with a massive two-hander</p><br/>
<p>Write an epic questline with passionate voice overs</p><br/>
</div>
</div>

<div class="span4"> 
 <img class="thumbnail" src="/media/share.svg" alt="">
<div class="alert-message block-message info infocol">
 <h2> Share </h2>
<br/>
<p> Share, Collaborate and Improve objects in our fully open game object repository</p><br/>
<p> Together we can create the Github equivalent for game developers </p>
</div>
</div>
<div class="span4"> 
 <img class="thumbnail" src="/media/collaborate.svg" alt="">
<div class="alert-message block-message error infocol">
 <h2> Utilize </h2>
<br/>
<p> Anyone can use any object in our repository. They are all under CC Share Alike licence</p><br/>
<p> Focus on what you like, we let coders code and designers design</p>
</div>
</div>

{% endblock %}

