{% extends "base.html" %}
{% block content %}
<div class="alert-message info">  
    <h2 class="page-title"> Browse Game Objects </h2> 
</div>
<div class="span3">
    <button class="btn success" id="browse-environment"> Environments </button> 
    <button class="btn success" id="browse-character"> Characters </button> 
    
    <button class="btn success" id="browse-equipment"> Equipment </button> 
    
    <button class="btn success" id="browse-mission"> Missions </button> 
</div>

<div class="span8">
    <pre id="browse-content">
    </pre>
</div>


{% endblock %}
